%overflow-hidden {
  overflow: hidden;
}
%invisible-header {
  top: 200px !important;
  transition: all 1s ease-in-out;
}
%visible-header {
  top: 0 !important;
  transition: all 1s ease-in-out;
}
%icon-a {
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: 14px;
  border-radius: 50%;
  margin: 0 1px;
  text-align: center;
  display: block;
  color: white;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    border-radius: inherit;
    z-index: -1;
    transform: scale(0.5);
    transition: all 0.3s ease-in-out;
  }
  &:hover::before {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }
}
%fullSize {
  width: 235px;
  height: 475px;
}
%owlButton{
  &:focus {
    outline: none;
  }
  position: absolute;
}