*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

  overflow-x: hidden;

}
a{
    transition: all 0.3s ease-in-out;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}