.over-element {
  z-index: 2;
}
.bottom35 {
  margin-bottom: 35px;
}
.bottom30 {
  margin-bottom: 30px;
}
.bottom20{
  margin-bottom: 20px !important;
}
ul{
  padding: 0;
}
h2{
  font-size: 2rem;
}
.padding{
  padding: 7.5rem 0;
}
.bottom15{
  margin-bottom: 15px !important;
}
h3 {
  font-size: 1.5rem;
}
.whitecolor{
  color: #fff;
}
h4{
 font-size: 1.125rem;
}
.padding-top{
  padding-top: 7.5rem;
}
.whitecolor{
  color: #fff;
}
.top90{
  margin-top: 90px;
}